/* Global CSS variables */

/* Colors */
$g-primaryColor: rgb(25, 84, 166);
$g-secondaryColor: rgb(36, 160, 216);
$g-primaryDarkColor: #363636;
$g-deepBlue: #1954a6;
$g-deepDarkBlue: #0d346b;

/* Action colors */
$g-hoverWhite: #fafafa;

/* Breakpoints */
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}
// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}
// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}
// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
