.content {
  text-align: center;
  > :first-child {
    margin-top: 10px;
  }
}

.progressContainer {
  display: flex;
  flex-direction: column;

  > p {
    text-align: center;
    margin: 10px;
  }

  > progress {
    width: 200px;
    align-self: center;
  }
}
