@import "../global/global.scss";

.container {
  position: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
    align-self: center;
  }
}

.serviceTile {
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;

  > * {
    flex-basis: 33%;
  }

  > p {
    text-align: center;
  }
}
