@import "../../global/global.scss";

.content {
  text-align: center;
  > :first-child {
    margin-top: 10px;
  }
}

.courseContainer {
  max-width: 500px;

  @include sm {
    max-width: 300px;
  }

  margin-bottom: 25px;

  &.expanded {
    position: fixed;
    min-width: 100%;
    height: 100%;
    margin: 0;
    top: 64px;
    left: 0;
    padding: 0 2rem;
    transition: 0.5s !important;
    z-index: 1000;

    &:hover {
      cursor: auto;
    }

    > p:first-child {
      overflow: auto;
      text-overflow: unset;
      white-space: unset;
      margin-top: 3rem;
    }
  }

  &.collapsed {
    display: none;
  }

  > p:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1.5em;
  }
}
