@import "../../global/global.scss";

.content {
  text-align: center;
  > :first-child {
    margin-top: 10px;
  }
}

.courseContainer {
  max-width: 500px;

  @include sm {
    max-width: 300px;
  }

  margin-bottom: 25px;

  &.expanded {
    position: absolute;
    min-width: 100%;
    margin: 0;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 0 2rem;
    z-index: 1000;
    animation: expand 1s ease-out forwards;

    @keyframes expand {
      0% {
        opacity: 0.2;
      }
      100% {
        opacity: 1;
      }
    }

    &::before {
    }

    &:hover {
      cursor: auto;
    }

    > p:first-child {
      overflow: auto;
      text-overflow: unset;
      white-space: unset;
      margin-top: 3rem;
    }
  }

  &.collapsed {
    display: none;
  }

  > p:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1.5em;
  }
}
